# Compound Data Types

Hello!

In this chapter we are going to explore the different types of Compound Data Types such as set, tuples, lists, dictionaries and the various concepts associated with these data types.

First question which would arise in anyone's mind would be: 

**What is the meaning of compound data types?**

In computer science, a composite data type or compound data type is any data type which can be constructed in a program using the programming language's primitive data types and other composite types

Lists, sets, tuples and dictionaries are also called data structures.

A data structure is a specialized format for organizing and storing data. Any data structure is designed to organize data to suit a specific purpose so that it can be accessed and worked with in appropriate ways.

For reference:
https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range
<br>https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

In this lecture we'll learn about the following:

1. Lists
2. Tuples
3. Dictionaries
4. Sets 

**Lets begin**

# Lists

Lists are collection of objects which can be of same or different datatype.
<br> Lists can be very useful in many situations.
<font color=green>### Example</font>
<br> Suppose in a class, teacher has to store information of a student of the form name, roll number, marks then its convenient to store in 3 variables but suppose there are 25 students then the number of variables will be 25 x 3 = 75,
this will increase a toll on the teacher, so its better to store in 3 lists.  

Earlier when discussing strings we introduced the concept of a sequence in Python. On the same lines we can say that lists are general form of sequence in Python. Unlike strings, they are mutable, meaning the **elements inside a list can be changed!**

By mutable we mean that, the elements in the list can deleted, swapped, replaced also new elements can be added.

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

When can lists be used?
<br> Lists can be used to store collection of objects of same or different datatype.

In this section we will learn about:

1. Creating lists
2. Indexing and Slicing Lists
3. Basic List Methods
4. Nesting Lists
5. Introduction to List Comprehensions

For reference:
https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

## 1. Creating Lists

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see what can we do with lists!

In [1]:
# Assign a list to an variable named my_list

my_list = [1,2,3]

list = [8,9,0]

In [2]:
# Show

my_list

[1, 2, 3]

In [3]:
# Creating 3 lists based on the example given above.

student_names = ["John" ,"Jane", "Amita", "Amit", "Ram"]
student_roll_nos = [11,22,32,44,77]
student_marks = [20,19,11,15,16]

In [4]:
# show all 3 lists

print(student_names)
print(student_roll_nos)
print(student_marks)

['John', 'Jane', 'Amita', 'Amit', 'Ram']
[11, 22, 32, 44, 77]
[20, 19, 11, 15, 16]

Another **special property** of lists is that it can hold different types of objects. 
<br> Although you might not find this property very useful. Keep it for those rare times.
<br> For example :

In [5]:
my_list = ['Welcome',2,'a new chapter',3.1]

Here 'Welcome' is string,
      2 is an integer,
      'a new chapter' is string,
      3.1 is a float

In [6]:
# show
my_list

['Welcome', 2, 'a new chapter', 3.1]

### Creating a list of repeatable elements

<font color=green>### Example</font>
<br> Suppose you have enrolled for Python Programming course in Digital Vidya. Once you submit your assignment, the admin team keeps a record of your submissions.
<br> It will create a list of 15 assignments marked as N initially, later as they are submitted,corresponding assignment is marked as 'Y'.

In [7]:
# Complete list initialized as 'N'

submission = ['N']*15

In [8]:
# Show submission list

submission

['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N']

## Indexing and Slicing

Indexing and slicing works just like in strings. Try to recall the process of slicing in strings, a very similar process happens in lists.
<br>If you understood string indexing and slicing very well, this is a piece of cake for you. 

<font color=green>### Example</font>
<br>Indexing and Slicing can be useful in cases like retrieve the name of last 25 students or 
<br> Suppose you have a list of 50 names and you want the name of 25th student then indexing will come in handy.

In [9]:
# Grab all the information of the first student in all 3 lists.

print(student_names[0])
print(student_roll_nos[0])
print(student_marks[0])

John
11
20

Just like strings you can go backwards using negative indexes

In [10]:
# Grab all the information of the last student in all 3 lists.

print(student_names[-1])
print(student_roll_nos[-1])
print(student_marks[-1])

Ram
77
16

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [11]:
student_names[100]

IndexError: list index out of range

<font color=red>### INSTRUCTION TO DO</font>
<br> Try accessing the information of the second student in all 3 lists.
<br> Add new cells if required and practice

In [12]:
# Grab all the information of all the students after the first student.

print(student_names[1:])
print(student_roll_nos[1:])
print(student_marks[1:])

['Jane', 'Amita', 'Amit', 'Ram']
[22, 32, 44, 77]
[19, 11, 15, 16]

In [13]:
# Grab all the information of all the students uptil the 4th student.

print(student_names[:4])
print(student_roll_nos[:4])
print(student_marks[:4])

['John', 'Jane', 'Amita', 'Amit']
[11, 22, 32, 44]
[20, 19, 11, 15]

Just like strings you can go backwards by performing slicing using negative indexes

**Just a reminder** : The format is [start : stop : increment]
<br> You will get elements beginning from start and ending at (stop - 1) index.

In [14]:
# Grab all the information of all the alternate students.

print(student_names[: : 2])
print(student_roll_nos[:: 2])
print(student_marks[::2])

['John', 'Amita', 'Ram']
[11, 32, 77]
[20, 11, 16]

In [15]:
# Grab all the information of all the students in reverse order.

print(student_names[: : -1])
print(student_roll_nos[:: -1])
print(student_marks[::-1])

['Ram', 'Amit', 'Amita', 'Jane', 'John']
[77, 44, 32, 22, 11]
[16, 15, 11, 19, 20]

We can also use + to concatenate lists, just like we did for strings.
<br> Group B of 5 students will be concatenated into 1 common list.

In [16]:
# Lets save the above lists in a new group A

student_names_groupA = student_names
student_roll_nos_groupA = student_roll_nos
student_marks_groupA = student_marks

In [17]:
# Lets create group B lists

student_names_groupB = ['Jaya','Sagar','Simran','Aditya','Gautam']
student_roll_nos_groupB = [1,4,7,8,9,14]
student_marks_groupB = [20,11,14,17,18]

In [18]:
# Lets concatenate the two groups 

print(student_names_groupA + student_names_groupB)
print(student_roll_nos_groupA + student_roll_nos_groupB)
print(student_marks_groupA + student_marks_groupB)

['John', 'Jane', 'Amita', 'Amit', 'Ram', 'Jaya', 'Sagar', 'Simran', 'Aditya', 'Gautam']
[11, 22, 32, 44, 77, 1, 4, 7, 8, 9, 14]
[20, 19, 11, 15, 16, 20, 11, 14, 17, 18]

Note: The original list is intact!

In [19]:
#Show

print("Group A")
print(student_names_groupA)
print(student_roll_nos_groupA)
print(student_marks_groupA)

print()

print("Group B")
print(student_names_groupB)
print(student_roll_nos_groupB)
print(student_marks_groupB)

Group A
['John', 'Jane', 'Amita', 'Amit', 'Ram']
[11, 22, 32, 44, 77]
[20, 19, 11, 15, 16]

Group B
['Jaya', 'Sagar', 'Simran', 'Aditya', 'Gautam']
[1, 4, 7, 8, 9, 14]
[20, 11, 14, 17, 18]

You would have to reassign the list to make the change permanent.

In [20]:
# Reassign the 3 lists

reassigned_names = student_names_groupA + student_names_groupB
reassigned_roll_nos = student_roll_nos_groupA + student_roll_nos_groupB
reassigned_marks = student_marks_groupA + student_marks_groupB

In [21]:
#Show

print(reassigned_names)
print(reassigned_roll_nos)
print(reassigned_marks)

['John', 'Jane', 'Amita', 'Amit', 'Ram', 'Jaya', 'Sagar', 'Simran', 'Aditya', 'Gautam']
[11, 22, 32, 44, 77, 1, 4, 7, 8, 9, 14]
[20, 19, 11, 15, 16, 20, 11, 14, 17, 18]

<font color=red>### INSTRUCTION TO DO</font>

Add a student to the reassigned lists with name "Amitabh", roll no. 42, marks 15. 
<br> Try applying slicing on the above newly created reassigned lists for your practice.
<br> Add new cells if required and practice

# List Methods

Remember one thing : 
<br> You **don't** need to remember all methods, you can enter list name and then enter a dot and then Press Tab that will give all the suggestions for different methods.
<br> Also, you **don't** need to remember all parameters that can be passed to methods, you can enter list_name.method_name() then inside the parenthesis Press Shift + Tab that will give detailed documentation for all the parameters that can be passed to a function.

For reference:
https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

Let's go ahead and explore some methods for lists:

### Append method

The append method can be used to add elements to the list permanently so you don't need to add elements and keep reassigning.

**This method is useful when you want to add one element to the list.** You can directly append an element to the list no need to reassign.

<font color=green>### Example</font>
<br> Suppose a new student has joined group A then his name can be appended to list of names,roll number can be appended to list of roll numbers, marks can be appended to list of marks. 
<br> New student's name is Rajiv, roll number is 39, marks is 13.

In [22]:
# Append

student_names_groupA.append('Rajiv')

student_roll_nos_groupA.append(39)

student_marks_groupA.append(13)

In [23]:
# Show

print("Group A")
print(student_names_groupA)
print(student_roll_nos_groupA)
print(student_marks_groupA)

Group A
['John', 'Jane', 'Amita', 'Amit', 'Ram', 'Rajiv']
[11, 22, 32, 44, 77, 39]
[20, 19, 11, 15, 16, 13]

### Extend method

The extend method can also be used to add elements to the list permanently so you don't need to add elements and keep reassigning.
<br> **This method is useful when you want to add more than one elements to the list.** 
<br> You can directly append an element to the list no need to reassign.
<br> This is similar to concatenation of lists with the key difference being that the original list gets modified. 

<font color=green>### Example</font>
<br> Suppose a two students have joined group A their names are Rahul,Sanjeev and their roll nos are 51,81 and their marks are 19,18. Thus the 3 lists need to be updated accordingly.

In [24]:
# Creating 3 lists of the two students.

new_student_names = ["Rahul","Sanjeev"]
new_student_roll_nos = [51,81]
new_student_marks = [19,18]

In [25]:
# Extend

student_names_groupA.extend(new_student_names)

student_roll_nos_groupA.extend(new_student_roll_nos)

student_marks_groupA.extend(new_student_marks)

In [26]:
# Show

print("Group A")
print(student_names_groupA)
print(student_roll_nos_groupA)
print(student_marks_groupA)

Group A
['John', 'Jane', 'Amita', 'Amit', 'Ram', 'Rajiv', 'Rahul', 'Sanjeev']
[11, 22, 32, 44, 77, 39, 51, 81]
[20, 19, 11, 15, 16, 13, 19, 18]

### Pop method

Use pop to "pop off" or remove an item from the list. By default pop takes off the last index (length of list - 1), but you can also specify which index to pop off. 

<font color=green>### Example</font>
<br> Suppose a student has left the group then his details removed or popped off from the 3 lists.

Let's see an example:
<br> John has left group A due to personal reasons.

In [27]:
# Pop off the 0 indexed item because John's details are present at index 0.

print(student_names_groupA.pop(0))
print(student_roll_nos_groupA.pop(0))
print(student_marks_groupA.pop(0))

John
11
20

Note that the 0th element is removed permanently.

In [28]:
# Show

print("Group A")
print(student_names_groupA)
print(student_roll_nos_groupA)
print(student_marks_groupA)

Group A
['Jane', 'Amita', 'Amit', 'Ram', 'Rajiv', 'Rahul', 'Sanjeev']
[22, 32, 44, 77, 39, 51, 81]
[19, 11, 15, 16, 13, 19, 18]

John is not present in output neither are his marks and roll no.

In [29]:
# Assign the popped element, remember default popped index is -1 or (length of list - 1)

removed_student_name = student_names_groupA.pop()
removed_student_roll_nos = student_roll_nos_groupA.pop()
removed_student_marks = student_marks_groupA.pop()

In [30]:
# Show 

print(removed_student_name)
print(removed_student_roll_nos)
print(removed_student_marks)

Sanjeev
81
18

Sanjeev was the last student hence his details are displayed.

In [31]:
# Lets see how the remaining list looks

print("Group A")
print(student_names_groupA)
print(student_roll_nos_groupA)
print(student_marks_groupA)

Group A
['Jane', 'Amita', 'Amit', 'Ram', 'Rajiv', 'Rahul']
[22, 32, 44, 77, 39, 51]
[19, 11, 15, 16, 13, 19]

### Index method

Index method is used to find index of an element in the list. 

Let's see an example:

In [33]:
# Lets find the index of Amit

student_names_groupA.index("Amit")

2

### Sort method

Sort method sort the elements of the list in ascending order.
<br> This method has a very important application everywhere.
<br> Sorting is not just limited to numbers, you can sort characters too.

<font color=green>### Example</font>
<br> Suppose the roll numbers of students are not in sorted order, for convenience of access we always sort things. Here sort method comes to our rescue.

Let's see an example:

In [34]:
random_alphabets = ['a','z','u','b','c']

In [35]:
# Lets sort the list
random_alphabets.sort()

In [36]:
# Show
random_alphabets

['a', 'b', 'c', 'u', 'z']

In [37]:
mylist123 = ['a', 'b', 'c', 'd']

There is another method sorted to which if a list is passed it returns a sorted list.
<br> But there is a catch, the list is sorted temporarily.
<br> By the way, the technical term for permanent sorting is inplace sorting.
<br> So you can say that sorted method does not perform inplace sorting on the lists.

In [38]:
# Lets use sorted function to sort the list

sorted_alphabets = sorted(random_alphabets)

In [39]:
# Show

sorted_alphabets

['a', 'b', 'c', 'u', 'z']

In [40]:
# Sorting in decending order

sorted(random_alphabets,reverse = True)

['z', 'u', 'c', 'b', 'a']

reverse = True, sorts the elements in descending order, again you don't have to remember this, Shift + Tab is your friend

<font color=red>### INSTRUCTION TO DO</font>

Go through all the other methods for list datatype. 
<br> Add new cells if required and practice

## Nested lists

A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. 
<br>**For example: A list inside a list, a tuple inside a list**.
<br> 
The same thing done above using 3 lists can rather be presented in the form of nested lists.

Let's see how this works!

In [41]:
# Let's make three lists



student_roll_nos = [32,22,21,44,77] 
student_names = ["John" ,"Jane", "Amita", "Amit", "Ram"] 
student_marks = [20,19,10,15,16]

# # Format is name, roll no., marks
students = [[i,j,k] for (i,j,k) in zip(student_roll_nos,student_names, student_marks)]
# students

In [42]:
abc = zip(student_marks,student_names)

In the above code, we used a new function call **zip()** to create a list containing each element of respective lists.

For reference : https://docs.python.org/3.3/library/functions.html#zip

In [43]:
# Show 

students

[[32, 'John', 20],
 [22, 'Jane', 19],
 [21, 'Amita', 10],
 [44, 'Amit', 15],
 [77, 'Ram', 16]]

Now we can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside batsman1,batsman2,batsman3 !
At times, there can three, four and maybe even more levels of indexing depending on the levels of nesting.

In [44]:
# Grab the details of the first student

students[0]

[32, 'John', 20]

In [45]:
# Grab the name of the first student

students[0][0]

32

This returns the first element of first element i.e list l1.

In [46]:
# Grab the marks of Khushi

students[1][2]

19

<font color=red>### INSTRUCTION TO DO</font>

Using the same nested list given above.
<br> Try accessing : 
    1. Marks of Amit
    2. Roll no. of Ram
 Add new cells if required and practice

In [ ]:
students.sort()

In [ ]:
students

[[21, 'Amita', 10],
 [22, 'Jane', 19],
 [32, 'John', 20],
 [44, 'Amit', 15],
 [77, 'Ram', 16]]

The students are sorted by their roll nos.
<br> Note that the lists would be sorted by the first element of the list inside it.

## List Comprehension

Python has an advanced feature for lists called **List Comprehensions**. 
<br> It allows for quick construction of lists. 
<br> It performs element-wise operation.  
It allows single line code for complex operations on lists.

Here are a few examples!

In [47]:
# Show nested list created above

students

[[32, 'John', 20],
 [22, 'Jane', 19],
 [21, 'Amita', 10],
 [44, 'Amit', 15],
 [77, 'Ram', 16]]

In [48]:
# Retrieve all the roll nos. from nested list

roll_nos = [student[0] for student in students]
roll_nos=[student[0] for student in students]

In [49]:
# Show roll nos.

roll_nos

[32, 22, 21, 44, 77]

In [50]:
# Retrieve all the marks from nested list

marks = [student[2] for student in students]

In [51]:
# Show marks

marks

[20, 19, 10, 15, 16]

Calculate the percentage marks of each student considering that each student marks are out of 20.

In [53]:
# iterating through marks which is created above

pct_marks=[(i/20)*100 for i in marks]
pct_marks = [(i/20)*100 for i in marks]

In [54]:
# Show

pct_marks

[100.0, 95.0, 50.0, 75.0, 80.0]

<font color=red>### INSTRUCTION TO DO</font>

Try the above task for retrieving the roll nos. from students_groupA
<br> Add new cells if required and practice

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to represent things that shouldn't be changed, such as days of the week, or dates on a calendar.

In this section, we will get a brief overview of the following:

1. Constructing Tuples
2. Indexing and Slicing
3. Basic Tuple Methods
4. Immutability
5. When to Use Tuples?

You'll have an idea of how to use tuples based on what you've learned about lists. There is a lot similarity between lists and tuples with the major distinction being that tuples are immutable.

<font color=green>### Example</font>
<br> Tuples are generally used for smaller groups of similar items, things like coordinate systems.

Tuples are mostly used to store elements of different types, not necessarily this happens every time.

When can tuples be used?
<br> Tuples can be used when you don't want to the elements in the tuple to be changed.

For reference:
https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

## Constructing Tuples

The construction of a tuples uses () notation with elements separated by commas. For example:

In [55]:
# Lets create a homogeneous tuple

t = (1,2,3)

In [56]:
# Show
t

(1, 2, 3)

In [57]:
# You can check length just like a list
len(t)

3

In [58]:
# Lets create a tuple of name, roll no. and marks for each student.
# Let's make three tuples

# Format is (name, roll no. , marks)
student1 = ("Jay" , 19 ,20)
student2 = ("Khushi", 21 , 18) 
student3 = ("Luv" , 22 , 17)

students_groupA = [student1, student2, student3]

In [59]:
# Show 

students_groupA

[('Jay', 19, 20), ('Khushi', 21, 18), ('Luv', 22, 17)]

In the above cell, students_groupA is a list, we did not convert it to tuple because new students can be added to a group thus flexibility is necessary. But a student's name, roll no. and marks will remain as it is forever. Thus we have kept them as a tuple.

<font color=red>### INSTRUCTION TO DO</font>

Create 3 tuples for students with names Ajay, Arun, Aakash , roll nos. as 21,41,71 and marks as 20,15,19.
Create a list students_groupB containing these 3 tuples.
<br> Add new cells if required and practice

In [62]:
stu_names=('Ajay','Arun','Aakash')
stu_rollnos=(21,41,71)
stu_marks=(20,15,19)

students_groupB=(stu_names,stu_rollnos,stu_marks)

## Indexing and Slicing in tuples

Indexing and Slicing in tuples is exactly same as that in lists so we'll just quickly go over this section.

In [63]:
# Grab the details of first student.

students_groupA[0]
students_groupB[0]

('Ajay', 'Arun', 'Aakash')

In [64]:
# Grab the name of the second student

students_groupA[1][0]

'Khushi'

In [65]:
# Grab the details of all the students starting from second student

students_groupA[1:]

[('Khushi', 21, 18), ('Luv', 22, 17)]

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do.
<br> Because of immutability, there are very less operations that you can perform of tuples.
<br> No need to remember the methods, just use Tab for suggestions
<br> Lets look at two of them:

### Index method

In [66]:
# Grab the index with value ('Khushi', 21, 18)

students_groupA.index(('Khushi', 21, 18))

1

### Count method

In [ ]:
# This method to count the number of times a value appears

students_groupA.count(('Khushi', 21, 18))

1

<font color=red>### INSTRUCTION TO DO</font>

On the students_groupB you have created above apply a few methods to just brush up your skills.
<br> Add new cells if required and practice

## Immutability
It can't be stressed enough that tuples are immutable. To drive that point home:

Change the name of the first student

In [67]:
# Show the name of the first student

students_groupA[0][0]

'Jay'

In [68]:
students_groupA[0][0] = 'new name'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples size is fixed. Once a tuple is created we can not add to it.

Add another subject marks to the first student.

In [69]:
students_groupA[0][0].append("sorry can't add")

AttributeError: 'str' object has no attribute 'append'

## When to use Tuples ?¶
You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary.
<br>If in your program you are passing around an object and need to make sure it does not get altered or changed, then tuple is your companion. It helps in maintaining data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Dictionaries

We've been learning about sequences in Python but now we're going to switch gears and learn about mappings in Python. 
<br>If you're familiar with other programming languages, you can think of these Dictionaries as hash tables.
<br> If Python is your first programming language, you can relate it to the index at the back of the books.

This section will serve as a brief introduction to dictionaries and consist of:

1. Constructing a Dictionary
2. Accessing objects from a dictionary
3. Nested Dictionaries
4. Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

You can consider the other iterables such as lists and tuples to be dictionaries with indexes as their keys but in iterables we can change the order and thus the key-value combination changes.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

<font color=green>### Example</font>
<br> In a class of 25 students, each student has a name, roll number and marks. To store these three values we can create a dictionary containing these three attributes and then we can create a list of 25 such dictionaries. 

When can dictionaries be used?
<br> List is like a dictionary with keys as 0,1,2,.... uptil its length while dictionary has user defined key-value pairs.
<br> Dictionaries can be useful when you want to create your own keys and their corresponding values.

For reference : 
https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

## Constructing a Dictionary

A dictionary can be created with {} and : to signify a key and a value
<br>Let's see how we can construct dictionaries to get a better understanding of how they function!

In [70]:
# Create a dictionary

student = {'name':'John','roll no':'25'}

In [71]:
# Show

student['roll no']

'25'

<font color=red>### INSTRUCTION TO DO</font>

Create a dictionary with key : "English", value : "Hi" and another key: "Hindi", value : "Namaste".
<br> Name it as greeting
<br> Add new cells if required and practice

In [72]:
greet = {'English': "Hi", "Hindi": "Namaste"}

In [73]:
persons = ["England", 'India', 'England']
message = ["Hi", "Namaste", "Hi"]

persons ={'england':"hi", "India": "Namaste"}

## Accessing objects from a dictionary

In [74]:
# Access values by their key here, value is value2 and key is key2

student['roll no']

'25'

In [75]:
# Access values by their key here, value is value1 and key is key1

student['name']

'John'

<font color=red>### INSTRUCTION TO DO</font>

Try accessing the values of the greeting.
<br> Add new cells if required and practice

Its important to note that dictionaries are very flexible in the data types they can hold just like lists and tuples. For example:

In [76]:
student = {'name':'John','roll no':22,'marks':[[0,9],[25,26,27]]}

output: 26

In [77]:
#Lets call items from the dictionary
student['marks'][1][1]

26

Just like we did in nested lists, we will try to access the elements further in the values returned by dictionary until there is no scope left.
<br> For example:

In [78]:
student['marks']

[[0, 9], [25, 26, 27]]

There is still scope for accessing further

In [79]:
student['marks'][0]

[0, 9]

<font color=red>### INSTRUCTION TO DO</font>

Try the above task for retrieving 27 which is present in the value of 'marks'
<br> Add new cells if required and practice

In [80]:
student['marks'][1][2]

27

In [81]:
# You can even call methods on that retrieved value

student['name'].upper()

'JOHN'

In [82]:
t = student['name']

t.isnumeric() # Checking if the string is aplhanumeric

False

<font color=orange>### IMPORTANT NOTE </font>
<br> As we had applied the string methods on the retrieved value because it was a string.
<br> Whatever maybe the retrieved value all its methods are applicable to it.

 In a similar way, these operations can be applied to numbers too.
 Lets see:

In [83]:
student['roll no']

22

In [84]:
# Subtract 5 from the marks of subject 1

student['marks'][0] = student['marks'][0] - 5

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [85]:
# Show

student['marks']

[[0, 9], [25, 26, 27]]

# Sets

A set object is an unordered collection of distinct hashable objects.
<br>An object is hashable if it has a hash value which never changes during its lifetime. A hash value is a numeric value of a fixed length that uniquely identifies data.
<br>Same data cannot have different hash value and different data cannot have same hash value.
<br>For reference : https://docs.python.org/3/library/stdtypes.html#set

<font color=green>### Example</font>
<br> There are many cases when the elements are repeated and such kind of duplicate entries need to be removed.
<br> At that time, sets prove to be a useful tool.

When can sets be used?
<br> Sets can be used when you want to create a list but with unique elements.

Frozenset is a new class that has the characteristics of a set, but its elements cannot be changed once assigned. While tuples are immutable lists, frozensets are immutable sets. (https://docs.python.org/3/library/stdtypes.html#frozenset)

Let's go ahead and make a set to see how it works.

In [86]:
# create set

m = {"Welcome", 2 ,"this course", 2}

list123 = ["Welcome", 2 ,"this course", 2]

In [87]:
list123

['Welcome', 2, 'this course', 2]

In [88]:
# show

m #distinct and unique values

{2, 'Welcome', 'this course'}

In [89]:
list123 =['h','t','h','t','t','t', 'no_result']

In [90]:
set(list123)




#list, set, dict, dict, list123

{'h', 'no_result', 't'}

In [92]:
import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

Initially when we created student_roll_nos it was better to create a set because roll no. of each and every student is unique.

In [93]:
student_roll_nos = set(student_roll_nos)

Type casting a list to a set.

In [94]:
#Show

student_roll_nos

{21, 22, 32, 44, 77}

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

A new student has joined with roll no. 77 
<br> Oops! Already roll no. 77  is assigned to another student.

In [95]:
student_roll_nos.add(77)

In [96]:
#Show

student_roll_nos

{21, 22, 32, 44, 77}

We can see that there is no effect on the student_roll_nos. Thus uniqueness is ensured.

**Note the curly brackets. This does not indicate a dictionary!** Although you can draw analogies as a set being a dictionary with only keys.

In [97]:
# What is the type of this?

s = {}

type(s)

dict

<font color=orange>### IMPORTANT NOTE </font>
<br>Empty curly braces denote an empty dictionary and not a set

In [98]:
# Create a list with repeated elements

l = [1,1,2,2,3,4,4,5]

In [99]:
# Convert list to set to get unique values

set(l)

{1, 2, 3, 4, 5}

Here you can see that all the duplicates from the list are eliminated.

## Indexing and Slicing 

Indexing and Slicing is not supported in sets.

## Set methods

### add()

As you have seen above add method is used to add single element to a set.

In [100]:
x = set()

Adding elements to a set

In [101]:
# Adding 1

x.add(1)

In [102]:
# Adding 2

x.add(2)

In [103]:
#Show

x

{1, 2}

In [104]:
# Try to add 1 again

x.add(1)

In [105]:
#Show

x

{1, 2}

We can see that there is no effect on the set when 1 was added again.

### update()

Update method can be used to add to add multiple elements to a set.

In [106]:
# Passing list as a parameter

x.update([4,5,6])
x.update([4,5,6])

In [107]:
#Show

x

{1, 2, 4, 5, 6}

In [108]:
# Passing tuple as a parameter

x.update((7,8,9))

In [109]:
#Show

x

{1, 2, 4, 5, 6, 7, 8, 9}

In [111]:
# Passing set as a parameter

x.update({10,11})

In [112]:
#Show

x

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11}

In [113]:
# Passing parameters from multiple datatypes 

x.update(["list"],{"set"},(20,21), {"key" : "value"})

In [114]:
#Show

x

{1, 10, 11, 2, 20, 21, 4, 5, 6, 7, 8, 9, 'key', 'list', 'set'}

What is happening here is the update method breaks each iterable element by element and then each element is added to the set?

Lets see what happens with strings.

In [115]:
s = set()

In [116]:
# Passing string as a parameter

s.update("string")

In [117]:
#Show

s

{'g', 'i', 'n', 'r', 's', 't'}

String is broken into characters and arranged in alphabetical order.

### discard()

This method will discard an element from a set and it will not raise an exception if the element is not present in the set, the set will remain unchanged.

Lets see how this works.

In [118]:
s = {"Welcome", 2 ,"this chapter", "my friend"}

In [119]:
s.discard("my friend")

In [120]:
# Show

s

{2, 'Welcome', 'this chapter'}

In [121]:
s.discard("enemy")

In [122]:
# Show

s

{2, 'Welcome', 'this chapter'}

As you can see there was no exception raised even though the given string was not present in the set.

### remove()

This method will remove an element from the set and it will raise an exception if the element is not present in the set, the set will remain unchanged.

Lets see how this works.

In [123]:
s = {"Welcome", 2 ,"this chapter", "my friend"}

In [124]:
s.remove("my friend")

In [125]:
# Show

s

{2, 'Welcome', 'this chapter'}

In [126]:
s.remove("enemy")

KeyError: 'enemy'

As you can see there was an exception raised because given string was not present in the set.

## Set operations

Sets support various mathematical operations such as union, intersection, difference and symmetric difference. We can do this with operators or methods.

In [127]:
student_names_groupA  = {"John" ,"Jane", "Amita", "Amit", "Ram","Gautam"}
student_roll_nos_groupA  = {11,22,32,44,77,14}
student_marks_groupA  = {20,19,11,15,16,18}

student_names_groupB = {'Jaya','Sagar','Simran','Aditya','Gautam'}
student_roll_nos_groupB = {1,4,7,8,9,14}
student_marks_groupB = {20,11,14,17,18}

### Union

When a union of two sets is performed, all the elements of both sets are brought in a single set.
<br>Union can be performed with the help of pipe(|)(This symbol is present above your Enter key on the keyboard) or the union() method.

In [128]:
student_names_groupA | student_names_groupB

{'Aditya',
 'Amit',
 'Amita',
 'Gautam',
 'Jane',
 'Jaya',
 'John',
 'Ram',
 'Sagar',
 'Simran'}

In [129]:
student_names_groupA.union(student_names_groupB)

{'Aditya',
 'Amit',
 'Amita',
 'Gautam',
 'Jane',
 'Jaya',
 'John',
 'Ram',
 'Sagar',
 'Simran'}

### Intersection

When an intersection of two sets is performed, the elements that are common in both sets are brought in a single set.
<br>Intersection can be performed with the help of ampersand(&) or the intersection() method.

In [ ]:
student_names_groupA & student_names_groupB

{'Gautam'}

In [ ]:
student_names_groupA.intersection(student_names_groupB)

{'Gautam'}

### Set difference

When a set is subtracted from another set, the elements that are present in first set but are not present in second set are returned in a set.
<br>Set difference can be performed with the help of minus(-) or the difference() method.

In [ ]:
student_names_groupA - student_names_groupB

{'Amit', 'Amita', 'Jane', 'John', 'Ram'}

In [ ]:
student_names_groupA.difference(student_names_groupB)

{'Amit', 'Amita', 'Jane', 'John', 'Ram'}

### Set symmetric difference

This method returns all the elements in both sets except the ones that are common in both.
<br>Set symmetric difference can be performed with the help of caret(^) or the symmetric_difference() method.

In [ ]:
student_names_groupA ^ student_names_groupB

{'Aditya', 'Amit', 'Amita', 'Jane', 'Jaya', 'John', 'Ram', 'Sagar', 'Simran'}

In [ ]:
student_names_groupA.symmetric_difference(student_names_groupB)

{'Aditya', 'Amit', 'Amita', 'Jane', 'Jaya', 'John', 'Ram', 'Sagar', 'Simran'}

<font color=red>### INSTRUCTION TO DO</font>

There are other methods too.
<br> Using the above sets, try different set methods.
<br> To get you started there are difference_update and intersection_update methods. See what they do differently.
<br> Add new cells if required and practice

## Membership operator

<br> Membership operator in programming terms is **in**.
<br>As the name suggests this operator can be used to check whether a particular element is present in an iterable.
<br> Strings, lists, tuples and dictionaries all are iterables and thus this operator is applicable to all of them.

### For strings

In [130]:
s = 'My name is Anthony Gonsalves'

Let's find out whether character 'A' is present in the above string.

In [131]:
'A' in s

True

**in** operator is used to check whether 'A' is a member of string s

### For lists

In [132]:
l = ["Welcome to chapter" ,3, "David" ]

Let's find out whether "David" is present in the above list.

In [133]:
"David" in l

True

### For tuples

In [134]:
t = ("Is the time", 4, "AM now?")

Let's find out whether 3 is present in the above tuple.

In [135]:
3 in t

False

### For dictionary

In [136]:
student = {'name':'John','roll no':22,'marks':[25,26,27]}

In dictionaries **in** operator only checks the keys and not the values.

In [137]:
'John' in student

False

In [138]:
'name' in student

True

How to find in values?

Simple! Use the values() method.

In [139]:
'John' in student.values()

True

### For Set

In [140]:
s = {"That place is " , 5 , "miles away."}

Let's find out whether 5 is present in the above set.

In [141]:
5 in s

True

<h2>Comparison between data structures</h2>

<table>
  <tr >
    <th width="20%" style="text-align:left;">Property</th>
    <th width="20%" style="text-align:left;">List</th>
    <th width="20%" style="text-align:left;">Tuple</th>
    <th width="20%" style="text-align:left;">Dictionary</th>
    <th width="20%" style="text-align:left;">Set</th>
  </tr>
  <tr>
    <td style="text-align:left;">**Mutability**</td>
    <td style="text-align:left;">Mutable</td>
    <td style="text-align:left;">Immutable</td>
    <td style="text-align:left;">Mutable</td>
    <td style="text-align:left;">Mutable</td>
  </tr>
  <tr>
    <td style="text-align:left;">**Indexing and Slicing**</td>
    <td style="text-align:left;">Supported</td>
    <td style="text-align:left;">Supported</td>
    <td style="text-align:left;">Supported</td>
    <td style="text-align:left;">Not Supported</td>
  </tr>
  <tr>
    <td  style="text-align:left;">**Looping**</td>
    <td style="text-align:left;">Looping through list indices is possible</td>
    <td style="text-align:left;">Looping through tuple indices is possible</td>
    <td style="text-align:left;">Looping is possible in 3 ways either by keys or values or both.</td>
    <td style="text-align:left;">Looping through set indices is possible</td>
  </tr>
   <tr>
    <td style="text-align:left;">**Repetition of elements**</td>
    <td style="text-align:left;">Duplicate elements can be stored in a list.</td>
    <td style="text-align:left;">Duplicate elements can be stored in a tuple.</td>
    <td style="text-align:left;">There can be two items in a dictionary with the same key, but the second one will be kept, the first one will be discarded.</td>
    <td style="text-align:left;">In a set duplicate elements cannot exist, if the same element is added again the set remains unchanged.</td>
  </tr>
</table>

</body>

# Summary

Now that you have learnt about list, tuples, dictionaries and sets you are getting good at Python.
<br> This chapter is very crucial as these data structures are used everywhere in Python programming.
<br> Please solve your assignment very well and invest as much time as possible to master these topics.
<br>Lets get to hands on practice by solving the assignment.

**All the best!!**<t>