# Conditionals and Control Flow

Hello!

You are doing very well. You have reached the next phase in Basics of Python Programming. 

In this chapter we are going to explore different types of conditional statements and how control flows in a program.

Just like we humans change our behaviour based on conditions, in a similar way a program can also change its behaviour.
<br> This behaviour can be changed by using conditional statements.

So far we have accomplished predefined tasks, where the program followed a particular set of instructions, where the control flow was constant. What makes programming so much more powerful are conditional statements. This is the ability to test a variable against a value and act in one way if the condition is met by the variable or another way if not. 

Very often when you write code, you want to perform different actions for different decisions. You can use conditional statements in your code to do this. What happens is, when you use conditional statements, the program control jumps from one place to another and so you need to be very careful while using conditional statements.

The different kinds of operators especially comparison operators which you had learnt in chapter 1 will come in handy here.

https://docs.python.org/3/tutorial/controlflow.html

In this lecture we'll learn about the following:

1. if and else statement
2. for loop
3. The range() function
4. break and continue statements

**Lets begin**

In [6]:
# Class example:
# Marks of a student is less than 35 : Fail
# Marks of a student is greater than 60: First class

###ignore
# Marks of a student is greater than 35 and less than 60 : Pass

# other:
marks = 50


team = [250, 309, 456, 249] #score greater than 250 is win

if team[3]<250: #if variable satisfies the condition than do this
  print("lost")
else: #else do this
  print("win")

lost

In [23]:
range(marks)

TypeError: ignored

In [25]:
len(marks)

10

In [26]:
marks = [59,56,78,35,56,90,98,99,96,78]
import time
for i in range(len(marks)):
  print(i)
  if marks[i]<35: 
    print("Fail") 
  elif (marks[i]>35) &(marks[i]<60):
    print("Pass")
  else:
    print("First Class")

0
Pass
1
Pass
2
First Class
3
First Class
4
Pass
5
First Class
6
First Class
7
First Class
8
First Class
9
First Class

In [21]:
for i in marks:
  print(i)

59
56
78
35
56
90
98
99
96
78

In [19]:
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

##  if and else statement

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Consider this example in English style :

*If* your marks is less than 40 then you passed in the examination *else* you failed.

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

*If* you scored more than 80 marks then you passed with distinction *else if* you scored more than 40 and less than 80 you passed without distinction *else* you failed. 

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

`if case1:
    perform action1
elif case2:
    perform action2
else: 
    perform action 3
`

<font color=orange>### IMPORTANT NOTE </font>
<br>The condition in the conditional statement must always return a boolean value i.e True or False

**Guidelines** : For those who have programming experience in different languages such as C,Java,etc
             (Beginners can also read)
             
1. In Python, True and 1 are same and False and 0 are same like in C, C++
2. Since Python is an  **indented language**, every condtional statement has to end with a colon (':').
3. In Python, 'T' in True needs to be upper case unlike Java.

Let's take a simple example

In [ ]:
if True:
    print('It is true!')

It is true!

<font color=orange>### IMPORTANT NOTE </font>
<br>Be careful about the ':', it is extremely important.

In [ ]:
# Another one

if False:
    print('It is false!')

If you are wondering why it did not print 'It is False!', because the condition is False.
<br>**Statements in inside a conditional statement will only be executed if the condition evaluates to True**

In [ ]:
if 1:
    print("It is true!")

It is true!

1 also works instead of True

Let's add in some else logic:

In [ ]:
# if - else both 

x = False

if x:
    print('x is True!')
else:
    print('Else statement is executed since x is not True!')

Else statement is executed since x is not True!

## if - elif - else statements

If marks are greater than 80 then print First class with distinction, between 60 to 79 print First class and between 40 to 59 print Second class and finally,for less than 40 print Fail.

In [ ]:
marks = 49

if marks > 80:
    print("First class with distinction")

elif marks >=60 and marks <=79:
    print("First class")
    
elif marks >=40 and marks <=59:
    print("Second class")
    
else :
    print("Fail")

Second class

<font color=orange>### IMPORTANT NOTE </font>
 <br> For those who have programming experience in other languages.
 <br> "elif" is the Python alternative for "else if".
 <br> "else if" won't work in Python.

** You can also place if-else inside if statement **

In [ ]:
num = 10

if num >= 0:                       # A
    if num == 0:                   # B
        print("Zero")
    else:                          # This is the else to the if marked as "B"
        print("Positive number")
else:                              # This is the else to the if marked as "A"
    print("Negative number")

Positive number

** You can also place if-else inside else statement **

In [30]:
num = -10

if num > 0:
  print("Positive number")
else:
    if num == 0:
        print("Zero")
    else:
        print("Negative number")

Negative number

**Lets solve odd and even problem.**
<br>Find whether a number is even or odd.

In [ ]:
x = 10

if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

**Lets check if a given character is a vowel or consonant.**

In [ ]:
vowels = ['a','e','i','o','u']
given_character = 'B'

if given_character.lower() in vowels:       # lower because given character could be upper case also 
                                            # recall membership operator from chapter 1
    print("Given character is a vowel")
else :
    print("Given character is a consonant")

Given character is a vowel

<font color=red>### INSTRUCTION TO DO</font>

Assign a value to x.
<br> Print "x is greater than 10" if x is is greater than 10 else print "x is less than 10" if x is less than 10.
<br> Add new cells if required and practice

# The range() function

We haven't developed a very deep level of knowledge of functions yet, but we can understand the basics of this simple (but extremely useful!) function. Range function is most commonly used while iterating through lists or tuples.

For reference : https://docs.python.org/3.6/library/stdtypes.html#range

In [ ]:
# Lets see what happens when we use range function

range(5)

range(0, 5)

Lets see what is the type of returned object

In [ ]:
x = range(0,10)
type(x)

range

It returned a range object.
<br> **So how is it useful?**

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

Instead of manually creating a list of integers upto 'n'. You can create using the range() function

The parameters of range function are (start,stop,step size).
<br> Where the range would begin from start and end at (step size - 1), by default the step size is 1 and start is 0.
<br> You can relate this with slicing.

In [ ]:
# Lets see a range with start and stop
start = 0 
stop = 20 

x = range(start,stop)

In [ ]:
x

range(0, 20)

In [ ]:
# Show

list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Great! Notice how it went up to 20, but doesn't actually produce 20. Just like in indexing. 
<br>What about step size? 
<br>We can specify that as a third argument:

In [ ]:
# Lets set step size to 2
x = range(start,stop,2)

In [ ]:
#Show
x

range(0, 20, 2)

In [ ]:
list(x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

But still what makes range() so special?

Range function makes use of a generator. For a simplified explanation: A generator allows the generation of generated objects that are provided at that instance but does not store every instance generated into memory.

This means a generator would not create a list to generate like range() does, but instead provide a one time generation of the numbers in that range.
<br> This is very beneficial when we need range upto huge numbers.
<br> Don't worry about it if you did not understand.
<br> The application of range is more important to understand.

<font color=red>### INSTRUCTION TO DO</font>

Print all the numbers from 4 uptil 108 with a gap of three between consective numbers
<br> Add new cells if required and practice

# for loops

Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence. We can iterate over iterables such as strings, lists, tuples, and even built in iterables for dictionaries, such as the keys or values. You had learnt that  lists, tuples, dictionaries are iterables now you will know why.

Here's the general format for a for loop in Python:

`
for item in object:
    statements to do stuff
`   

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside you loop, for example if you wanted to use if statements to perform checks.

Let's go ahead and work through several example of for loops using a variety of data object types.

## Iterating through a list

In [ ]:
# Lets create a list

l = [1,2,3,4,5,6,7,8,9,10]

### Iterating through a list without indexing

In [ ]:
for number in l:
    print(number)

1
2
3
4
5
6
7
8
9
10

As you can see the for loop helped us to access each element one by one without using indexing.

### Iterating through a list with indexing

In [ ]:
for number in range(len(l)):
    print(l[number])

1
2
3
4
5
6
7
8
9
10

Lets solve the odd even problem using for loop.
<br> Print all even numbers in the list

In [ ]:
for number in l:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

If a number is even print "Even" and the number else print "Odd" and the number

In [ ]:
for number in l:
    if number % 2 == 0:
        print("Even",number)
    else:
        print("Odd",number)

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

Lets find sum of the numbers in the list

In [ ]:
l_sum = 0

for number in l:
    l_sum += number   # notice the use of shorthand operator

In [ ]:
# Display sum

l_sum

55

What is happening?

Consider, l = [1,2,3]

`
Initially :
    l_sum = 0
Iteration 1 :
    l_sum = 0 + 1
    l_sum = 1
Iteration 2 :
    l_sum = 1 + 2
    l_sum = 3
Iteration 3 :
    l_sum = 3 + 3
    l_sum = 6
-----Loop ends-----
`

This is how final result is calculated

<font color=red>### INSTRUCTION TO DO</font>

In the previous chapter we had created 3 lists

student_names = ["John" ,"Jane", "Amita", "Amit", "Ram"]
<br>student_roll_nos = [11,22,32,44,77]
<br>student_marks = [20,19,11,15,16]

Print the name of every student.
Find the sum of marks using a for loop.
<br> Make sure you initialize your variable which will store the product with an appropriate value.
<br> Print the sum.
<br> Add new cells if required and practice

## Iterating through a string

As discussed before strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [ ]:
for letter in 'Welcome to Digital Vidya':
    print(letter)

W
e
l
c
o
m
e

t
o

D
i
g
i
t
a
l

V
i
d
y
a

Character by character printing is done

## Iterating through a tuple

Iterating through a tuple is very similar to iterating through a list or a string.
<br> We will use the tuple created in previous chapter.

In [32]:
student1 = ("Jay" , 19 ,20)
student2 = ("Khushi", 21 , 18) 
student3 = ("Luv" , 22 , 17)

In [33]:
print("Student1 details : ")

for t in student1:
    print(t)
    
print()
print("Student2 details : ")

for t in student2:
    print(t)
    
print()
print("Student3 details : ")

for t in student3:
    print(t)

Student1 details :
Jay
19
20

Student2 details :
Khushi
21
18

Student3 details :
Luv
22
17

### Tuple unpacking

Tuples have a special property when it comes to for loops. While iterating through a sequence, if the element which is obtained is also a tuple then we can unpack its elements using **Tuple Unpacking**.

In [ ]:
# Lets create a tuple of name, roll no. and marks for each student.
# Let's make three tuples

student_roll_nos = [32,22,21,44,77] 
student_names = ["John" ,"Jane", "Amita", "Amit", "Ram"] 
student_marks = [20,19,10,15,16]

# Format is name, roll no., marks
students = [(roll_no, name, marks) for (roll_no, name, marks) in zip(student_roll_nos,student_names, student_marks)]
students

[(32, 'John', 20),
 (22, 'Jane', 19),
 (21, 'Amita', 10),
 (44, 'Amit', 15),
 (77, 'Ram', 16)]

In [ ]:
# Iterating through the list

print("Roll no. Name  Marks")
print()

# Tuple unpacking
for (roll_no, name, marks) in students:
    print('{0:7d} {1:5s} {2:4d}'.format(roll_no, name, marks))

Roll no. Name  Marks

     32 John    20
     22 Jane    19
     21 Amita   10
     44 Amit    15
     77 Ram     16

The above printing style has been improved for better presentation. No need to worry if you don't understand you will learn this later.
<br>For reference : https://docs.python.org/3.1/tutorial/inputoutput.html

<font color=red>### INSTRUCTION TO DO</font>

Create a list with 5 tuples.
<br> For a tuple of the form (a,b), b is square of a.
<br> a should be from 1 to 5.
<br> Each list has two consective alphabets (a,b) , (b,c) and so on.
<br> TIP : Use list comprehension.
<br> Print each tuple using tuple unpacking in the same way as shown above.
<br> Add new cells if required and practice

## Iterating through a dictionary

Iterating through a dictionary is a bit different from iterating through other iterables

In [35]:
# Create a dictionary.

student = {'name':'John','roll no':22,'marks':[25,26,27]}

In [36]:
for key in student:
    print(student[key])

John
22
[25, 26, 27]

We could only get the keys. So how can we get the values? Or both the keys and the values?

### Only keys:

In [ ]:
for key in student.keys():
    print(key)

name
roll no
marks

### Only values:

In [ ]:
for value in student.values():
    print(value)

John
22
[25, 26, 27]

### Both keys and values:

In [ ]:
for key,value in student.items():  # Tuple unpacking 
    print(key,value)

name John
roll no 22
marks [25, 26, 27]

In [ ]:
student.items()

dict_items([('name', 'John'), ('roll no', 22), ('marks', [25, 26, 27])])

Here you can see that student.items() returns a lists of tuples containing key,value pairs.
<br> Using tuple unpacking we could retrieve individual keys and values.
<br> This is an important example of tuple unpacking.

<font color=red>### INSTRUCTION TO DO</font>

Create a dictionary with key : "Taj Mahal", value : "India" and another key: "Eiffel Tower", value : "France".
<br> Name it as monuments
<br> Try all the three methods of iterating through a dictionary i.e by key, by value and by key and value both.
<br> Add new cells if required and practice

### Miscellaneous problem

This will help you with your assignment.

Find factorial of a number.
<br> Factorial of a number n is 1*2*3*....* n.
<br> eg. Factorial of 5 is 1×2×3×4×5 = 120

In [ ]:
n = 5
factorial = 1

# range(1,6) will return [1,2,3,4,5]
# factorial will multiply each consecutive number in each iteration and then store the result in itself.

for i in range(1,n+1):
    factorial *= i

print("Factorial of %d is %d"% (n,factorial))

Factorial of 5 is 120

# While loop

The while statement in Python is one of most general ways to perform iteration. A while statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

But wait when to use a for loop and when to use while loop?

Use for loop when you know when to terminate the loop. Like we knew when to terminate the loop in all the examples above.
<br> Use while loop when you are not aware when the loop should terminate.
<br> For eg. While its raining outside, stay indoors.
<br> Programming based example would be : until the user keeps giving input don't terminate the loop.

The while loop also has an else clause just like an if statement.
<br> The else statement is executed after the condition in while loop becomes False. 

The general format of a while loop is:

`
while test:
    code statement
else:
    final code statements
`

Lets have a look at the examples

In [ ]:
# Print all numbers less than 10

x = 0

while x < 10:  
    
    print('x is :',x)
    print(' Adding 1 to x')
    x+=1

x is : 0
 Adding 1 to x
x is : 1
 Adding 1 to x
x is : 2
 Adding 1 to x
x is : 3
 Adding 1 to x
x is : 4
 Adding 1 to x
x is : 5
 Adding 1 to x
x is : 6
 Adding 1 to x
x is : 7
 Adding 1 to x
x is : 8
 Adding 1 to x
x is : 9
 Adding 1 to x

Here, the most important take away is that terminating condition is x == 10.

Notice how many times the print statements occurred and how the while loop kept going until the True condition was met, which occurred once x==10. Its important to note that once this occurred the code stopped. 
<br>Lets see how we could add an else statement:

In [ ]:
x = 0

while x < 10:
    print('x is :',x)
    print(' Adding 1 to x')
    x+=1
else:
    print('All 10 numbers are printed!')

x is : 0
 Adding 1 to x
x is : 1
 Adding 1 to x
x is : 2
 Adding 1 to x
x is : 3
 Adding 1 to x
x is : 4
 Adding 1 to x
x is : 5
 Adding 1 to x
x is : 6
 Adding 1 to x
x is : 7
 Adding 1 to x
x is : 8
 Adding 1 to x
x is : 9
 Adding 1 to x
All 10 numbers are printed!

<font color=orange>### IMPORTANT NOTE </font>

At times the programmer misses a case when the loop may not terminate and the loop runs infinitely.
<br> Infinite loops are difficult to handle so please be careful about it.

eg. 

`
while True :
    print("Don't do this")
`

<font color=red>### INSTRUCTION TO DO</font>

Print all the positive numbers that are less than 100.
<br> After the loop terminates print "All 100 numbers printed"
<br> Add new cells if required and practice

# Break  and  continue statements

Based on certain conditions we can decide whether to break, continue or pass through a loop.

    break: Breaks out of the current closest enclosing loop, skipping all the statements after it.
    continue: Goes to the top of the closest enclosing loop i.e goes to next iteration of the loop, skipping all statements               following it.
    
break and continue statements can appear anywhere inside the loop’s body, but it is logical to put them inside a conditional statement such as an if statement to perform an action based on some condition.

You will get a clear idea when you look at the examples

## Break statement

1. Print all number from 1 to 10 but break the loop when x is equal to 3.

In [ ]:
x = 0

while x < 10:
    print('x is :',x)
    print(' Adding 1 to x')
    x+=1
    if x ==3:
        print('x==3')
        break

x is : 0
 Adding 1 to x
x is : 1
 Adding 1 to x
x is : 2
 Adding 1 to x
x==3

In [ ]:
[class student names and thier respective classes] [class_6, 'y', 'u', 'u', class_7, 'i', 'o']

2 User should enter any number between 1 to 10 and when the user enters 5, we will print "Got you!"

In [ ]:
from random import randint
n=randint(1,11)
print(n)

while True:
    a=int(input("Enter any number between 1 and 11 "))
    if a==n:
        print("got you")
    elif a>n:
        print("Go low")
    elif a<n:
        print("Go High")

1
Enter any number between 1 and 11 5
Go low
Enter any number between 1 and 11 4
Go low
Enter any number between 1 and 11 3
Go low
Enter any number between 1 and 11 2
Go low
Enter any number between 1 and 11 1
got you

In [38]:
from random import randint
n = randint(1, 10)
print(n)

while True:
    
    a = int(input("Enter any number between 1 to 10   "))
    if a == n:
        print("Got you!!")
        print("The number was %d"%n)
        break
    elif a>n:
        print("Go low")
    else:
        print("Go high")

3
Enter any number between 1 to 10   5
Go low
Enter any number between 1 to 10   4
Go low
Enter any number between 1 to 10   2
Go high
Enter any number between 1 to 10   3
Got you!!
The number was 3

<font color=orange>### IMPORTANT NOTE </font>
<br> We have used break to break the while loop otherwise the loop will keep running infinitely. 
<br> Programmers have been known to hang machines by inadvertently leaving the while loop in an infinite condition.

## Continue statement

2. Iterate from 1 to 10 and print "hi" and the number if the number is even else don't print anything.

In [ ]:

for i in range(1,11):

    if i % 2 != 0:
      continue

        
    print("I am an even number",i)

Here when the number is odd the if condition becomes true and continue is executed and thus following statements are skipped.

<font color=red>### INSTRUCTION TO DO</font>

Run any loop from from 1 to 10 but don't print 5. And break the loop on 8.
<br> This problem doesn't seem practical but later you will use it in real life situation.
<br> Add new cells if required and practice

# Summary

You learnt about :

1. if and else statement
2. for loop
3. The range() function
4. break and continue statements

Now that you have learnt about conditionals and control flow.
<br>Lets get to hands on practice by solving the assignment.

**All the best!!**